.logo_menu{
	background-color: #F2836B;
	color: #fff;
}

.logo_menu .menu a{
	display: inline-block;
}

.logo_menu .menu a{
	text-decoration: none;
	padding: 31px 15px;
	color: #fff;
}

.logo_menu .menu a:hover{
	border-bottom: 4px #fff solid;
	padding-bottom: 27px;
}

.resaltar{
	background-color: #63A69F;
}
