.sesiontitle{
	text-align: center;
	color: #63A69F;
	display: block;
}

.singin{
	display: flex;
	align-items: center;
	background-color: #F2E1AC;
	color: #63A69F;
	-webkit-box-shadow: 4px 3px 17px -3px rgba(0,0,0,0.7);
	-moz-box-shadow: 4px 3px 17px -3px rgba(0,0,0,0.7);
	box-shadow: 4px 3px 17px -3px rgba(0,0,0,0.7);
}

.informacion_img img{
	width: 100%;
	height: 300px;
}

.informacion_descripcion{
	text-align: justify;
}

.informacion_extra{
	margin-top: 20px;
	padding: 1em 1em;
	color: white;
	text-decoration: none;
}

.formulario{
	display: block;
	padding: 20px 20px;
	vertical-align: middle;
	color: #63A69F;
}

.main{
	padding-top: 15px;
}
