.sesiontitle{
	text-align: center;

}

.singin{
	background-color: #F2E1AC;
	color: #fff;
}

.informacion_img img{
	width: 100%;
	height: 300px;
}

.informacion_descripcion{
	text-align: justify;
}

.informacion_extra{
	margin-top: 20px;
	padding: 1em 1em;
	color: white;
	text-decoration: none;
}

.formulario{
	padding: 20px 20px;
	vertical-align: middle;
}

form{

}

.main{
	padding-top: 15px;
}
